# Push Server Environment
PORT=3001
VAPID_EMAIL=mailto:hr@betagro.com
VAPID_PUBLIC_KEY=PASTE_YOUR_PUBLIC_KEY_HERE
VAPID_PRIVATE_KEY=PASTE_YOUR_PRIVATE_KEY_HERE
PUSH_SECRET=CHANGE_THIS_TO_A_RANDOM_SECRET
ALLOWED_ORIGIN=http://localhost:5173
